@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "WriterPasswordUpdate";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-settings menu-icon"></i>
        </span> Şifre Güncelle
    </h3>
    </div>

@using (Html.BeginForm("WriterPasswordUpdate", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @Html.HiddenFor(x=>x.WriterID,new{@class="form-control"})
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Şifre</label>
                        @Html.PasswordFor(x=>x.WriterPassword,new{@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterPassword,"",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Tekrar Şifre</label>
                        @Html.PasswordFor(x=>x.WriterConfirmPassword,new{@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterConfirmPassword,"",new{@class="text-danger"})
                    </div>
              




                
                    <button type="submit" class="btn btn-success mr-2">Güncelle</button>

                    <a href="/Dashboard/Index/" class="btn btn-danger">İptal</a>
                </form>
            </div>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        swal("Başarılı!", "@TempData["SuccessMessage"]", "success");
    </script>
}
@if (TempData["ErrorMessage"] != null)
{
    <script>
        swal("Başarısız!", "@TempData["ErrorMessage"]", "error");
    </script>
}
