@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="page-header">
<h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-bell-ring"></i>
    </span> Bildirimlerim
</h3>
</div>




@foreach(var item in Model)
{
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            

                        <span class="page-title-icon @item.NotificationColor text-white mr-2">
                        <i class="@item.NotificationTypeSymbol"></i>
                    </span>   <h5 class="mr-2 mb-2">@item.NotificationType</h5>
               @* <img src="@item.NotificationTypeSymbol" class="img-sm rounded-circle mr-3" alt="image">*@
                <div class="mb-0 flex-grow">
                    @*<h5 class="mr-2 mb-2">@item.NotificationType</h5>*@
                    <p class="mb-0 font-weight-light">@item.NotificationDetails</p>
                     <p style="color:limegreen">@item.NotificationDate.ToShortDateString()</p>
                </div>

           
        </div>
    </div>
</div>
</div>
}

